{
  "extends": [
    "plugin:bpmn-io/es6",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["warn", { "singleQuote": true }]
  },
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  }
}